#count {
    background-color: dodgerblue;
    color: white;
    padding: 20px;
}

img {
    height: 200px;
}

.btn {
    height: 30px;
    width: 70px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: none;
    box-shadow: 4px 4px #222;
}